<footer>
    <div class="container_footer">
        <div class="box_footer">
            <div class="terms">
                <h5>Acerca de Nosostros</h5>
                <p >
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                   
                </p>
            </div>
        </div>
        <div class="box_footer">
            <h5>Políticas y Reglamentos</h5>
            <a href="#">Lorem Ipsum</a>
        </div>
    </div>
    <div class="box_footer_nets">
        <h5>Redes Sociales:</h5>
        <a href="https://es-la.facebook.com/"><fa-icon [icon]="faFacebook"></fa-icon>Facebook</a>
        <a href="https://www.instagram.com/?hl=es-la"><fa-icon [icon]="faInstagram"></fa-icon>Instagram</a>
        <a href="https://twitter.com/?lang=es"><fa-icon [icon]="faTwitter"></fa-icon>Twitter</a>
        <a href="https://www.youtube.com/"><fa-icon [icon]="faYoutube"></fa-icon>Youtube</a>
    </div>

<hr class="color">
<p class="copyright">CITY BOLETOS
    <b>COPYRIGHT © 2022 Todos los derechos reservados</b>
</p>
</footer> 
