<app-header></app-header>

<body>

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div class="welcome_Logo">
        <img src="../../assets/images_logo/Logo_CIty_Eventos.jpeg">
        <!-- <h1>CITY BOLETOS</h1> -->
    </div>

    <div class="p-5 text-center">
        <p class="lead"> *** Cualquier persona puede publicar eventos sin el Organizador ***</p>
        <p class="lead"> *** Puede ganar puntos canjeables por boletos y acceder a sorteos ***</p>
        <p class="lead"> *** Publica un evento que deseas difunfir ***</p>
    </div>

    <div class="text-right pb-5 pr-5">
        <a routerLink="/dashboard" class="nav-link active">
            <button class="btn btn-light">Continuar <fa-icon [icon]="faArrowRight"></fa-icon></button>
        </a>
    </div>

</body>
<app-footer></app-footer>